body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Zapobiega poziomemu przewijaniu strony */
}

.container {
    background-image: url('../assets/plane2.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-y: auto; /* Dodaje pionowy pasek przewijania, jeœli zawartoœæ przekracza wysokoœæ ekranu */

}

.form-container {
    background-color: rgba(234, 219, 200, 0.4);
    padding: 20px;
    border-radius: 8px;
    max-width: 80%; /* Ogranicza szerokoœæ kontenera formularza */
    overflow-y: auto; /* Ukrywa ewentualne zawartoœci wychodz¹ce poza kontener */
}
